Repository VirtusLab/git-machete, pull requests merged in 2021-07, with the labels that each got.

#145 Copy docs
  .circleci/config.yml
  .gitignore
  CONTRIBUTING.md
  docs/blog-1/blog-1.md
  docs/blog-1/gitk-0.png
  docs/blog-1/gitk-1.png
  docs/blog-1/gitk-2.png
  docs/blog-1/sandbox-setup-reduced.sh
  docs/blog-1/sandbox-setup.sh
  docs/blog-1/slide-out.png
  docs/blog-1/status-1.png
  docs/blog-1/status-2.png
  docs/blog-1/status-l-1.png
  docs/blog-1/status-l-3.png
  docs/blog-1/update-2.png
  docs/blog-1/update.png
  docs/blog-2/add.png
  docs/blog-2/blog-2.md
  docs/blog-2/discover.png
  docs/blog-2/files-changed.png
  docs/blog-2/sandbox-setup-2.sh
  docs/blog-2/show-up-go-up.png
  docs/blog-2/status.png
  docs/blog-2/traverse.png
  docs/blog-2/update-3.png
Labels: docs

#149 links are now reffering to develop branch
  CONTRIBUTING.md
  docs/blog-1/blog-1.md
  docs/blog-2/blog-2.md
Labels: docs

#154 Remove the explicit update of Nix package when releasing a new version
  .circleci/config.yml
  CONTRIBUTING.md
  RELEASE_NOTES.md
  ci/nixpkgs-pr/Dockerfile
  ci/nixpkgs-pr/README.md
  ci/nixpkgs-pr/build-context/commit-message.md
  ci/nixpkgs-pr/build-context/entrypoint.sh
  ci/nixpkgs-pr/build-context/pr-description.md
  ci/nixpkgs-pr/ci-deploy.sh
  ci/nixpkgs-pr/docker-compose.yml
  ci/nixpkgs-pr/export-github-config
  ci/nixpkgs-pr/local-run.sh
  git_machete/__init__.py
Labels: ci, distribute

#151 Introduce MacheteClient class
  git_machete/cmd.py
Labels: code
