Repository VirtusLab/git-machete, pull requests merged in 2022-09, with the labels that each got.

#650 Fix setup-sandbox script
  graphics/setup-sandbox
Labels: bug

#649 Issue #648: Handle forkpoint that is overriden with invalid commit hash
  RELEASE_NOTES.md
  git_machete/client.py
  git_machete/git_operations.py
  tests/test_fork_point.py
Labels: bug, fork point

#638 Issue #211: Generate command line documentation based on .rst files.
  .circleci/config.yml
  ci/tox/.env-sample
  ci/tox/build-context/run.sh
  ci/tox/docker-compose.yml
  docs/enforce-docs-up-to-date.sh
  docs/generate_py_docs.py
  docs/source/cli_help/advance.rst
  docs/source/cli_help/clean.rst
  docs/source/cli_help/config.rst
  docs/source/cli_help/delete-unmanaged.rst
  docs/source/cli_help/diff.rst
  docs/source/cli_help/discover.rst
  docs/source/cli_help/file.rst
  docs/source/cli_help/format.rst
  docs/source/cli_help/github.rst
  docs/source/cli_help/hooks.rst
  docs/source/cli_help/log.rst
  docs/source/cli_help/reapply.rst
  docs/source/cli_help/slide-out.rst
  docs/source/cli_help/squash.rst
  docs/source/cli_help/status.rst
  docs/source/cli_help/traverse.rst
  docs/source/cli_help/update.rst
  docs/source/conf.py
  docs/source/github_config_keys.rst
  docs/source/status_config_key.rst
  git_machete/cli.py
  git_machete/docs.py
  git_machete/generated_long_docs.py
  git_machete/handmade_short_docs.py
  requirements.py-docs.txt
  requirements.sphinx-docs.txt
  tests/mockers.py
  tests/test_help.py
  tox.ini
Labels: docs, code quality, build, ci

#663 Issues 658, 652: Improve formatting for command options and split the text into new lines
  docs/generate_py_docs.py
  docs/source/cli_help/add.rst
  docs/source/cli_help/advance.rst
  docs/source/cli_help/anno.rst
  docs/source/cli_help/clean.rst
  docs/source/cli_help/config.rst
  docs/source/cli_help/delete-unmanaged.rst
  docs/source/cli_help/diff.rst
  docs/source/cli_help/discover.rst
  docs/source/cli_help/file.rst
  docs/source/cli_help/github.rst
  docs/source/cli_help/go.rst
  docs/source/cli_help/hooks.rst
  docs/source/cli_help/list.rst
  docs/source/cli_help/reapply.rst
  docs/source/cli_help/show.rst
  docs/source/cli_help/slide-out.rst
  docs/source/cli_help/squash.rst
  docs/source/cli_help/status.rst
  docs/source/cli_help/traverse.rst
  docs/source/cli_help/update.rst
  docs/source/github_api_access.rst
  git_machete/generated_long_docs.py
Labels: docs, cli
