Repository VirtusLab/git-machete, pull requests merged in 2023-09, with the labels that each got.

#1041 Tidy up mock GitHub client
  README.md
  git_machete/cli.py
  git_machete/client.py
  git_machete/github.py
  tests/mockers_github.py
Labels: code quality, testing, github

#1045 Fix reading tokens from `~/.github-token` for GitHub Enterprise domains
  RELEASE_NOTES.md
  docs/man/git-machete.1
  git_machete/github.py
  tests/test_github.py
Labels: bug, github

#1052 Switch shebangs in sample hooks to `/bin/bash`
  hook_samples/machete-post-slide-out
  hook_samples/machete-pre-rebase
  hook_samples/machete-status-branch
  hook_samples/post-commit
Labels: bug

#1054 Switch macOS pipelines to `macos.x86.medium.gen2` executor
  .circleci/config.yml
  RELEASE_NOTES.md
  ci/homebrew/ci-deploy.sh
Labels: macos

#1056 Use GitHub PR template
  docs/man/git-machete.1
  docs/source/cli/github.rst
  git_machete/client.py
  git_machete/generated_docs.py
Labels: feature, github
