Repository VirtusLab/git-machete, pull requests merged in 2024-11, with the labels that each got.

#1364 Refrain from posting trivial PR intros with just the current PR
  docs/man/git-machete.1
  git_machete/client.py
  tests/test_github_retarget_pr.py
  tests/test_github_update_pr_descriptions.py
  tests/test_gitlab_update_mr_descriptions.py
Labels: bug, github, gitlab

#1367 Allow disabling fetch for certain remotes in traverse
  RELEASE_NOTES.md
  docs/man/git-machete.1
  docs/source/cli/config.rst
  docs/source/cli/traverse.rst
  docs/source/git-config-keys/traverse_fetch_remote.rst
  git_machete/client.py
  git_machete/generated_docs.py
  git_machete/git_config_keys.py
  tests/test_traverse.py
Labels: traverse

#1369 Make `PullRequest` mutable
  docs/man/git-machete.1
  git_machete/client.py
  git_machete/code_hosting.py
Labels: github, gitlab
